html, body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

input {
    text-align: center;
    animation-name: search;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.container-fluid {
    height: 100%;
}

.row {
    height: 25%;
}

/*search styling*/

.entry {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    /* height: 25%; */
    margin-top: -5%;
    margin-left: -15%;
    padding: 1% 5%;
    z-index: 1;
    animation-name: entry;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#search {
    border: none;
    border-bottom: 2px solid black;
}
#search:focus {
    outline: none;
    
}

#mini {
    margin-top: 8%;
    font-size: 12px;
}

#instruction {
    padding-top: 1.5%;
}

/*animation-styling*/

@keyframes grid {
    0% {    border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    20% {    border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    100% {  border: 1px solid rgb(255, 255, 255, 0.8);
            box-shadow: 0px 0px 15px 3px rgba(255, 255, 255);}
}

@keyframes entry {
    0% {    background-color: rgb(50,50,50);
            border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    100% {  background-color: rgb(255, 255, 255);
            border: 5px ridge rgb(100,100,100, 0.8);
            box-shadow: 0px 0px 0px 10px rgb(20, 20, 20), 
                        5px 5px 10px 10px rgb(50,50,50, 0.8);}
}

@keyframes search {
    0% {    background-color: rgb(50,50,50);}
    100% {  background-color: rgb(255, 255, 255);}
}

@-webkit-keyframes grid {
    0% {    border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    20% {    border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    100% {  border: 1px solid rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 15px 3px rgb(255, 255, 255);}
}

@-webkit-keyframes entry {
    0% {    background-color: rgb(50,50,50);
            border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    100% {  background-color: rgb(255, 255, 255);
            border: 5px ridge rgb(100,100,100, 0.8);
            box-shadow: 0px 0px 0px 10px rgb(20, 20, 20), 
                        5px 5px 10px 10px rgb(50,50,50, 0.8);}
}

@-webkit-keyframes search {
    0% {    background-color: rgb(50,50,50);}
    100% {  background-color: rgb(255, 255, 255);}
}


/*box styling*/

.col-3 {
    margin: 0px;
    padding: 0px;
    background-color: rgb(50,50,50);
    animation-name: grid;
    animation-duration: 6s;
    animation-fill-mode: forwards;  
}

.gifWall {
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
}

 @media screen and (max-width: 800px) {
    .entry {
        width: 55%;
        /* height: 25%; */
        left: 37%;
        top: 45%;
        padding: 5.5% 4% 2%;
    }
} 

@media screen and (max-width: 600px) {
    .entry {
        width: 60%;
        top: 42%; 
        padding: 6% 2% 3%;
        left: 34%;
    }
}

