/*Set the html/body to the size of the screen, set font and align it center*/
html, body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

/*Set the height of the container to the page*/
.container-fluid {
    height: 100%;
}
/*Set the set the height of a row to exactly one quarter of the page*/
.row {
    height: 25%;
}

/*Search Styling Section*/

/*Set the animation in play for the input field, and align the search text*/
input {
    text-align: center;
    animation-name: search;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/*Style the entry box to be absolutley in the center of the page and run an animation on it*/
.entry {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    border: 5px ridge rgb(100,100,100, 0.8);
    margin-top: -5%;
    margin-left: -15%;
    padding: 1% 5%;
    z-index: 1;
    animation-name: entry;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#favEntry {
    top: 59%;
    margin-top: 0;
}

/*This is the styling for the previous searches*/

.oldButton {
    background-color: none;
    border: none;
    outline: none;
    padding: 2% 3%;
    margin-top: 5px;
    border: 2px solid rgb(100,100,100, 0)
}

.oldButton:hover {
    text-decoration: none;
    font-weight: bold;
    border: 2px solid rgb(100,100,100, 1)
}

.oldButton:focus, .return {
    outline: none;
}

/*This is the styling for the pause information and favorites button*/

.gif-desc {
    position: absolute;
    top: 10%;
    left: 2%;
    color: rgb(255, 255, 255, 0.8);
    text-align: left;
}

.download {
    position: absolute;
    bottom: 10%;
    left: 50%;
    color: rgb(255, 255, 255, 0.8);
    background-color: rgb(100,100,100, 0.8);
    border: none;
    padding: 3% 3% 2%;
}

.fdownload {
    position: absolute;
    bottom: 10%;
    left: 65%;
    color: rgb(255, 255, 255, 0.8);
    background-color: rgb(100,100,100, 0.8);
    border: none;
    padding: 3% 3% 2%;
}

.saveGif {
    position: absolute;
    bottom: 10%;
    left: 85%;
    color: rgb(255, 255, 255, 0.8);
    background-color: rgb(100,100,100, 0.8);
    border: none;
    padding: 3% 3% 2%;
}

.download:hover, .saveGif:hover {
    color: rgb(100,100,100, 1);
    background-color: rgb(255, 255, 255, 1);
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 255, 1);
    text-decoration: none;

}

.fa-heart {
    color: rgb(255, 255, 255, 0.8);
}

.saveGif:hover > .fa-heart {
    color: rgb(100,100,100, 1);
}

.favorites {
    color: rgb(255, 255, 255, 0.8);
    background-color: rgb(100,100,100, 0.8);
    border: none;
    padding: 2% 3% 2%;
    margin: 5px -20% 0px 0px;
    float: right;
    font-size: 12px;
    border: 2px solid rgb(100,100,100, 0)

}

.favorites:hover {
    color: rgb(100,100,100, 1);
    background-color: rgb(255, 255, 255, 1);
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 255, 1);
    text-decoration: none;
    border: 2px solid rgb(100,100,100, 1)

}

.favorites:hover > .fa-heart {
    color: rgb(100,100,100, 1);
}

.return {
    color: rgb(255, 255, 255, 0.8);
    background-color: rgb(100,100,100, 0.8);
    border: none;
    float: right;
    padding: 2% 3% 2%;
    margin: 5px -20% 5px 0px;
    font-size: 12px;
    border: 2px solid rgb(100,100,100, 0)

}

h4 {
    font-size: 16px;
    float: left;
    margin: 12px 0px 5px -20%;
}

.return:hover {
    color: rgb(100,100,100, 1);
    background-color: rgb(255, 255, 255, 1);
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 255, 1);
    text-decoration: none;
    border: 2px solid rgb(100,100,100, 1)

}




/*This is the input box, remove the border and put a border on the bottom*/
#search {
    border: none;
    border-bottom: 2px solid black;
}

/*Don't show the outline on the input field when you click it*/
#search:focus {
    outline: none;
    
}

/*Set the style for the logo text at the bottom of the entry box*/
#mini {
    margin-top: 8%;
    font-size: 12px;
}

/*Set the styling of the search intstructions*/
#instruction {
    padding-top: 1.5%;
}

/*Animation Styling Section*/

/*The grid keyframe brings in the grid borders at the start of the app*/
@keyframes grid {
    0% {    border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    20% {    border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    100% {  border: 1px solid rgb(255, 255, 255, 0.8);
            box-shadow: 0px 0px 15px 3px rgba(255, 255, 255);}
}

/*The entry keyframe brings in the box shadow and changes the color of the entry box*/
@keyframes entry {
    0% {    background-color: rgb(50,50,50);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    100% {  background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 0px 10px rgb(20, 20, 20), 
                        5px 5px 10px 10px rgb(50,50,50, 0.8);}
}

/*The search keyframe changes the background color of the search input field*/
@keyframes search {
    0% {    background-color: rgb(50,50,50);}
    100% {  background-color: rgb(255, 255, 255);}
}

/*This webkit keyframe for grid makes the grid animation work on safari*/
@-webkit-keyframes grid {
    0% {    border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    20% {    border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    100% {  border: 1px solid rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 15px 3px rgb(255, 255, 255);}
}

/*This webkit keyframe for entry makes the grid animation work on safari*/
@-webkit-keyframes entry {
    0% {    background-color: rgb(50,50,50);
            border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    100% {  background-color: rgb(255, 255, 255);
            border: 5px ridge rgb(100,100,100, 0.8);
            box-shadow: 0px 0px 0px 10px rgb(20, 20, 20), 
                        5px 5px 10px 10px rgb(50,50,50, 0.8);}
}

/*This webkit keyframe for search makes the grid animation work on safari*/
@-webkit-keyframes search {
    0% {    background-color: rgb(50,50,50);}
    100% {  background-color: rgb(255, 255, 255);}
}


/*The Gif Box Styling*/

/*This styles all the gif Boxes.*/
.col-3 {
    margin: 0px;
    padding: 0px;
    background-color: rgb(50,50,50);
    animation-name: grid;
    animation-duration: 6s;
    animation-fill-mode: forwards;  
}

/*This styles all the images and fits them to their gif box*/
.gifWall {
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
}

/*These media queries changes the location and size of the entry box.*/
 @media screen and (max-width: 800px) {
    .entry {
        width: 55%;
        /* height: 25%; */
        left: 37%;
        top: 45%;
        padding: 5.5% 4% 2%;
        border-radius: none;
    }
} 

@media screen and (max-width: 600px) {
    .entry {
        width: 60%;
        top: 42%; 
        padding: 6% 2% 3%;
        left: 34%;
        border-radius: none;
    }
}

