html, body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

input {
    text-align: center;
    animation-name: search;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.container-fluid {
    height: 100%;
}

.row {
    height: 25%;
}

/*search styling*/

.entry {
    position: absolute;
    margin: 22.5% 0% 0% 38%;
    padding: 3% 5%;
    z-index: 1;
    animation-name: entry;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
#search {
    border: none;
    border-bottom: 2px solid black;
}
#search:focus {
    outline: none;
    
}

/*animation-styling*/

@keyframes grid {
    0% {    border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    50% {    border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    100% {  border: 1px solid rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 15px 3px rgba(255, 255, 255);}
}

@keyframes entry {
    0% {    background-color: rgb(50,50,50);
            border: 0px solid rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 0px 0px rgb(50,50,50, 0.8);}
    100% {  background-color: rgba(255, 255, 255);
            border: 3px ridge rgb(50,50,50, 0.8);
            box-shadow: 0px 0px 8px 8px rgb(50,50,50, 0.8);}
}

@keyframes search {
    0% {    background-color: rgb(50,50,50);}
    100% {  background-color: rgba(255, 255, 255);}
}

/*box styling*/

.col-3 {
    margin: 0px;
    padding: 0px;
    background-color: rgb(50,50,50);
    animation-name: grid;
    animation-duration: 7s;
    animation-fill-mode: forwards;       
}



.gifWall {
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
}
